<?xml version='1.0' encoding='windows-1252'?>
<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!--
  Please do not remove these pre-processor If-Else blocks. These are used with
  the `cargo wix` subcommand to automatically determine the installation
  destination for 32-bit versus 64-bit installers. Removal of these lines will
  cause installation errors.
-->
<?if $(var.Platform) = x64 ?>
  <?define Win64 = "yes" ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?define ProductId = "3328711c-5432-4827-9dbf-9bf7232c3ac1" ?>
<?else ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define ProductId = "d53033a7-cf11-4815-8c0a-8487e4738afc" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Id='$(var.ProductId)'
        Name='doh-client'
        UpgradeCode='d3aca669-4494-4edf-b205-c091dc2946c4'
        Manufacturer='LinkTed'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package
            Keywords='Installer'
            Description='DNS over HTTPS client'
            Manufacturer='LinkTed'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            Platform='$(var.Platform)'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='doh-client Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='doh-client'>
                    <!--
                      Disabling the license sidecar file in the installer is a two step process:

                      1. Comment out or remove the `Component` tag along with its contents.
                      2. Comment out or remove the `ComponentRef` tag with the "License" Id
                         attribute value further down in this file.
                    -->
                    <Component Id='License' Guid='0a2d0f88-ef18-486d-b4fc-6db5c48931c1' Win64='$(var.Win64)'>
                        <File Id='LicenseFile'
                            Name='LICENSE'
                            DiskId='1'
                            Source='LICENSE'
                            KeyPath='yes'/>
                    </Component>

                    <Component Id='DohClientBin' Guid='b971ccf1-4b56-44dc-8071-94d3c8e72223' Win64='$(var.Win64)'>
                      <File
                        Id='DohClientBinFile'
                        Name='windows-service.exe'
                        DiskId='1'
                        Source='target\$(var.Profile)\windows-service.exe'
                        KeyPath='yes'/>
                      <ServiceInstall 
                        Id="DohClientSerivceInstall" 
                        Type="ownProcess" 
                        Vital="yes"
                        Name="doh-client" 
                        DisplayName="DNS over HTTPS client"
                        Description="Open a local UDP (DNS) port and forward DNS queries to a remote HTTP/2.0 server. By default, the client will connect to the Cloudflare DNS service." 
                        Start="auto"
                        Account="NT AUTHORITY\LocalService" 
                        ErrorControl="normal"
                        Arguments="--cache-size 0" 
                        Interactive="no" />
                      <ServiceControl 
                        Id="DohClientSerivceControl"
                        Stop="both"
                        Remove="both"
                        Name="doh-client"
                        Wait="yes" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <!--
              Comment out or remove the following `ComponentRef` tag to remove
              the license sidecar file from the installer.
            -->
            <ComponentRef Id='License'/>
            <ComponentRef Id='DohClientBin'/>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        
        <!--
          Uncomment the following `Icon` and `Property` tags to change the product icon.

          The product icon is the graphic that appears in the Add/Remove
          Programs control panel for the application.
        -->
        <!--<Icon Id='ProductICO' SourceFile='wix\Product.ico'/>-->
        <!--<Property Id='ARPPRODUCTICON' Value='ProductICO' />-->

        <Property Id='ARPHELPLINK' Value='https://github.com/LinkTed/doh-client'/>
        
        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            <!--
              Enabling the EULA dialog in the installer is a three step process:

                1. Comment out or remove the two `Publish` tags that follow the
                   `WixVariable` tag.
                2. Uncomment the `<WixVariable Id='WixUILicenseRtf' Value='Path\to\Eula.rft'>` tag futher down
                3. Replace the `Value` attribute of the `WixVariable` tag with
                   the path to a RTF file that will be used as the EULA and
                   displayed in the license agreement dialog.
            -->
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>
        </UI>
    </Product>
</Wix>
