[Unit]
Description=DNS over HTTPS client socket
Before=nss-lookup.target
Wants=nss-lookup.target network-online.target

[Socket]
ListenDatagram=127.0.0.1:53
Priority=7

[Install]
WantedBy=sockets.target